:root {
    --link-color: #2196F3;
    --text-colour: #757575;
    --title-color: #212121;
}

body {
    font-family: Roboto, sans-serif;
}

/*header*/

.header {}

.header__logo {}

.header__logo-colored {}

.header__nav {}

.header__list {}

.header__item {}

.header__link {}

/*hero*/

.hero {}

.hero__title {}

.hero__btn {}

/*body*/

.body {}

.body__list {}

.body__item {}

.body__subtitle {}

.body__text {}

/*works*/

.works {}

.works__subtitle {}

.works__list {}

.works__item {}

/*team*/

.team {}

.team__title {}

.team__list {}

.team__item {}

.team__subtitle {}

.team__text {}

/*footer*/

.footer {}

.footer__adress {}

.footer__list {}