/*nav*/
.nav {
    @include position;
    margin-top: 94px;
    margin-bottom: 20px;

    &__list {
            display: flex;
            justify-content: center;
            gap: 8px;
        }
    
        &__button {
            @extend %portfolio-subtitle;
            text-align: center;
            font-weight: 500;
            line-height: 26px;
            /* 162.5% */
            letter-spacing: 0.48px;
            border-radius: 4px;
            padding: 6px 22px;
            background-color: #F5F4FA;
            transition: background-color, color 250ms cubic-bezier(0.4, 0, 0.2, 1);

            &:hover {
                    color: map-get($map: $colors, $key: 'background');
                    background: map-get($map: $colors, $key: 'link');
                    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
                }
        }
    
        // .nav__item {}
}