/* client */

.client {
  height: 298px;
  background: map-get($map: $colors, $key: "background");

  &__title {
    @extend %section-title;
    margin-bottom: 50px;
  }

  &__list {
    @extend %position;
    gap: 30px;
    color: map-get($map: $colors, $key: "link");
  }

  &__item {
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 170px;
    height: 92px;
    border-radius: 4px;
    border: 1px solid map-get($map: $colors, $key: "border");
    fill: map-get($map: $colors, $key: "border");
    transition: border-color, fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      border-color: map-get($map: $colors, $key: "link");
      fill: currentColor;
    }
  }

  &__icons {
    width: 106px;
    height: 60px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 16px 32px;
  }

  // .client__icons:hover {}
}

@media screen and (min-width: 480px) {
  .client {
    height: 550px;

    &__title {
      font-size: 28px;
      font-weight: 700;
      letter-spacing: 0.84px;
      margin-bottom: 50px;
    }

    &__list {
      flex-direction: column;
      @extend %position;
      color: map-get($map: $colors, $key: "link");
    }

    &__item {
      align-items: center;
      justify-content: center;
      text-align: center;
      width: 170px;
      height: 92px;
      border-radius: 4px;
      border: 1px solid map-get($map: $colors, $key: "border");
      fill: map-get($map: $colors, $key: "border");
      transition: border-color, fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

      &:hover {
        border-color: map-get($map: $colors, $key: "link");
        fill: currentColor;
      }
    }

    &__icons {
      width: 106px;
      height: 60px;
      align-items: center;
      justify-content: center;
      text-align: center;
      margin: 16px 32px;
    }

    // .client__icons:hover {}

    .first__div {
      display: flex;
      gap: 30px;
    }

    .second__div {
      display: flex;
      gap: 30px;
    }
    .third__div {
      display: flex;
      gap: 30px;
    }
  }
}
