/*footer*/

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #2f303a;
  text-align: center;

  &__logo-colored {
    color: map-get($map: $colors, $key: "background");
  }

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }

  &__item:not(:last-child) {
    margin-bottom: 9px;
  }

  &__link {
    color: map-get($map: $colors, $key: "border");
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
  }

  &__link-adrees {
    color: map-get($map: $colors, $key: "background");
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
  }

  &__div-link {
    margin-top: 60px;
  }

  &__icons .team__icons-link {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: rgba(255, 255, 255, 0.1);
  }

  &__icons .team__icons-link:hover {
    background-color: map-get($map: $colors, $key: "link");
  }

  &__icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  &__link-subtitle {
    @extend %white-text;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  // .footer__icons-link {}

  .social {
    &__icons {
      width: 20px;
      height: 20px;
      fill: map-get($map: $colors, $key: "background");
    }
  }

  &__modal {
    margin-top: 60px;
  }

  &__label-title {
    color: map-get($map: $colors, $key: "background");
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  &__input {
    width: 100%;
    height: 50px;
    border-radius: 4px;
    border: 1px solid map-get($map: $colors, $key: "border");
    background-color: transparent;
    padding: 15px 16px;
  }

  &__form-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    width: 200px;
    height: 50px;
    border-radius: 4px;
    background: map-get($map: $colors, $key: "link");
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: map-get($map: $colors, $key: "background");
    // text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.96px;
    // padding: 35px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  &__form-svg {
    width: 24px;
    height: 24px;
  }
}

@media screen and (min-width: 768px) {
  .footer {
    &__div {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }

    &__div-logo {
      text-align: center;
      margin-right: 165px;
    }

    &__div-link {
      margin-top: 10px;
    }

    &__link-subtitle {
      text-align: center;
    }

    &__form {
      flex-wrap: wrap;
    }

    &__input {
      width: 450px;
    }
  }
}
@media screen and (min-width: 1200px) {
  .footer {
    &__div-logo {
      text-align: start;
      margin-right: 70px;
    }

    &__list {
      justify-content: start;
      align-items: start;
    }

    &__div-link {
      margin-right: 93px;
    }

    &__link-subtitle {
      text-align: start;
    }

    &__modal {
      margin-top: 0;
    }

    &__label-title {
      text-align: start;
    }

    &__form {
      display: flex;
      align-items: center;
      gap: 12px;
    }

    &__input {
      width: 358px;
    }

    &__form-button {
      margin-top: 0;
    }

    &__form {
      &-svg {
      }
    }
  }
}
