/*footer*/

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #2f303a;

  &__logo-colored {
    color: map-get($map: $colors, $key: "background");
  }

  &__div {
    display: flex;
  }

  &__list {
    margin-top: 20px;
  }

  &__item:not(:last-child) {
    margin-bottom: 9px;
  }

  &__adress {
    color: map-get($map: $colors, $key: "background");
    font-size: 14px;
    font-weight: 400;
    line-height: 171.429%;
    letter-spacing: 0.42px;
  }

  &__link {
    color: map-get($map: $colors, $key: "border");
    font-size: 14px;
    font-weight: 400;
    line-height: 171.429%;
    letter-spacing: 0.42px;
  }

  &__div-link {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 15px;
    margin-left: 70px;
  }

  &__icons .team__icons-link {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: rgba(255, 255, 255, 0.1);
  }

  &__icons .team__icons-link:hover {
    background-color: map-get($map: $colors, $key: "link");
  }

  &__icons {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
  }

  &__link-subtitle {
    @extend %white-text;
    letter-spacing: 0.42px;
    text-transform: uppercase;
  }

  // .footer__icons-link {}

  .social {
    &__icons {
      width: 20px;
      height: 20px;
      fill: map-get($map: $colors, $key: "background");
    }
  }

  &__link {
    display: flex;
  }

  &__modal {
    margin-left: 93px;
    margin-top: 15px;
  }

  &__label-title {
    color: map-get($map: $colors, $key: "background");
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  &__form {
    position: relative;
  }

  &__label {
    width: 358px;
    height: 50px;
  }

  &__input {
    width: 358px;
    height: 50px;
    border-radius: 4px;
    border: 1px solid map-get($map: $colors, $key: "border");
    background-color: transparent;
    padding-left: 16px;
  }

  &__form-button {
    width: 200px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 4px;
    background: map-get($map: $colors, $key: "link");
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: map-get($map: $colors, $key: "background");
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.96px;
    padding-right: 35px;
    margin-left: 12px;
  }

  &__form-svg {
    position: absolute;
    width: 24px;
    height: 24px;
    right: 30px;
    top: 13px;
  }
}

@media screen and (min-width: 480px) {
  .footer {
    background: #2f303a;

    &__div {
      flex-direction: column;

      &-logo {
        text-align: center;
      }
    }

    &__logo {
      margin: 0 auto;
    }

    &__list {
      margin-left: 160px;
    }

    &__adress {
      margin-left: -160px;
    }

    &__div-link {
      margin-top: 60px;
    }

    &__link-subtitle {
      margin-left: 100px;
    }

    &__icons {
      margin-left: 60px;
    }

    &__form {
      position: relative;
    }

    &__label-title {
      margin-bottom: 20px;
      margin-left: 37px;
      margin-top: 60px;
    }

    &__input {
      width: 450px;
      height: 50px;
      border-radius: 4px;
      border: 1px solid map-get($map: $colors, $key: "border");
      background-color: transparent;
      padding-left: 16px;
      margin-left: -90px;
    }

    &__form-button {
      margin-top: 20px;
      margin-left: 40px;
    }

    &__form-svg {
      right: 145px;
      top: 82px;
    }
  }
}

@media screen and (min-width: 768px) {
  .footer {
    height: 463px;
    position: relative;

    &__div {
      &-logo {
        position: absolute;
        text-align: center;
        margin-left: -76px;
      }
    }

    &__logo {
      margin-left: 130px;
    }

    &__list {
      margin-left: 160px;
    }

    &__adress {
      margin-left: -30px;
    }

    &__div {
      &-link {
        position: absolute;
        right: 89px;
        top: 15px;
        margin-top: 60px;
      }
    }

    &__link {
      &-subtitle {
        margin-left: 100px;
      }
    }

    &__icons {
      margin-left: 60px;
    }

    &__modal {
      width: 450px;
      position: absolute;
      bottom: 60px;
      margin-left: 240px;
    }

    &__label {
      &-title {
        width: 207px;
      }
    }

    &__form {
      position: relative;
      flex-wrap: wrap;
    }

    &__label {
      &-title {
        margin-bottom: 20px;
        margin-left: 37px;
        margin-top: 60px;
      }
    }

    &__input {
      width: 450px;
      height: 50px;
      border-radius: 4px;
      padding-left: 16px;
      margin-left: -90px;
    }

    &__form {
      &-button {
        margin-top: 20px;
        margin-left: 40px;
      }
    }

    &__form {
      &-svg {
        position: absolute;
        right: 240px;
        top: 82px;
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .footer {
    display: flex;
    height: 250px;
    position: relative;

    &__div {
      &-logo {
        position: absolute;
        text-align: center;
        margin-left: -76px;
      }
    }

    &__logo {
      margin-left: 130px;
    }

    &__list {
      margin-left: 160px;
    }

    &__adress {
      margin-left: -30px;
    }

    &__div {
      &-link {
        position: absolute;
        left: 250px;
        top: 15px;
        margin-top: 60px;
      }
    }

    &__link {
      &-subtitle {
        margin-left: 100px;
      }
    }

    &__icons {
      margin-left: 60px;
    }

    &__modal {
      width: 570px;
      height: 90px;
      position: absolute;
      top: 0;
      right: -80px;
    }

    &__form {
      position: relative;
      flex-wrap: wrap;
    }

    &__label {
      &-title {
        margin-bottom: 3px;
        margin-left: -90px;
        margin-top: 60px;
      }
    }

    &__input {
      width: 350px;
      height: 50px;
      border-radius: 4px;
      padding-left: 16px;
      margin-left: -90px;
    }

    &__form {
      &-button {
        width: 200px;
        margin-top: 20px;
        margin-left: 12px;
      }
    }

    &__form {
      &-svg {
        position: absolute;
        right: 125px;
        top: 32px;
      }
    }
  }
}
