// @keyframes slideInDown {
//   from {
//     transform: translateY(-100%);
//     opacity: 0;
//   }

//   to {
//     transform: translateY(0);
//     opacity: 1;
//   }
// }

// .animate__slideInDown {
//   animation: slideInDown 1s ease-out;
// }

.header {
  padding-top: 10px;
  padding-bottom: 10px;

  & .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    color: map-get($map: $colors, $key: "link");
    font-family: "Raleway";
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.72px;

    &--colored {
      color: map-get($map: $colors, $key: "title");
    }
  }

  &__nav-list {
    display: none;
  }
  &__contact-list {
    display: none;
  }
}

@media screen and (min-width: 480px) {
}

@media screen and (min-width: 768px) {
  .header {
    justify-content: center;

    &__nav-list {
      display: flex;
      gap: 51px;
    }

    &__nav-link {
      font-size: 14px;
      font-weight: 500;
      letter-spacing: 0.28px;

      &:hover {
        color: map-get($map: $colors, $key: "link");
      }
    }

    &__contact-list {
      display: flex;
      flex-direction: column;
      margin-left: 69px;
      gap: 10px;
    }

    &__contact-link {
      font-size: 12px;
      font-weight: 500;
      letter-spacing: 0.24px;
      color: map-get($map: $colors, $key: "text");
    }

    &__contact-icons {
      fill: map-get($map: $colors, $key: "text");
      margin-right: 8px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .header {
    justify-content: center;

    &__nav {
      display: flex;
      margin-left: -150px;
    }

    &__nav {
      &-list {
        display: flex;
        margin-top: 17px;
        margin-right: 230px;
      }
    }

    &__contact {
      display: flex;
      justify-content: center;
      align-items: center;

      &-list {
        width: 300px;
        height: 16px;
        text-align: center;
        flex-wrap: wrap;
        margin-left: 69px;
        gap: 30px;
      }

      &-link {
        margin-top: 20px;
        font-size: 12px;
        font-weight: 500;
        letter-spacing: 0.24px;
      }
    }

    #number {
      margin-top: 27px;
    }
  }
}
