/* module */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

/* .no-scroll {
    overflow: hidden;
} */

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 450px;
  height: 609px;
  border-radius: 4px;
  padding: 40px;
  background: map-get($map: $colors, $key: "background");
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);

  &__button-close {
    position: absolute;
    right: 8px;
    top: 8px;
    @extend %position;
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: map-get($map: $colors, $key: "background");

    &__svg {
      width: 18px;
      height: 18px;
    }

    &:hover .button__svg {
      fill: map-get($map: $colors, $key: "link");
    }
  }

  &__title {
    color: map-get($map: $colors, $key: "title");
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.6px;
    margin-bottom: 12px;
  }

  &__form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    height: 469px;
  }

  .form__label {
    color: map-get($map: $colors, $key: "text");
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.12px;
    margin-top: 10px;
    margin-left: 0px;
  }

  .label__thumb {
    display: flex;
  }

  .form__input {
    width: 370px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    padding-left: 40px;

    &:focus {
      border-color: map-get($map: $colors, $key: "link");
      outline: none;
    }

    &:focus + .label__svg {
      fill: map-get($map: $colors, $key: "link");
    }
  }

  .label__svg {
    position: absolute;
    width: 18px;
    height: 18px;
    left: 50px;
    top: 200px;

    &:hover .label__svg:focus {
      fill: currentColor;
    }
  }

  #icon__vector {
    position: absolute;
    width: 18px;
    height: 18px;
    left: 50px;
    top: 120px;
  }

  #icon__phone {
    position: absolute;
    width: 18px;
    height: 18px;
    left: 50px;
    top: 195px;
  }

  #icon__email {
    position: absolute;
    width: 18px;
    height: 18px;
    left: 50px;
    top: 267px;
  }

  .label__four {
    width: 370px;
    height: 120px;
    display: flex;
    flex-direction: column;
    color: map-get($map: $colors, $key: "text");
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.12px;
    margin-bottom: 20px;
    margin-top: 10px;
  }

  .text__label {
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    color: map-get($map: $colors, $key: "border");
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.12px;
    padding-top: 10px;
    padding-left: 16px;
    margin-top: 4px;
    resize: none;
  }

  .checkbox__input {
    display: flex;
    flex-direction: row-reverse;
    width: 16px;
    height: 15px;
    margin-top: -2px;
  }

  .checkbox__title {
    color: map-get($map: $colors, $key: "text");
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.42px;
    margin-left: 2px;
  }

  .checkbox__link {
    color: map-get($map: $colors, $key: "link");
    font-size: 12px;
    font-weight: 400;
    text-decoration-line: underline;
    font-size: 12px;
    letter-spacing: 0.36px;
  }

  .checkbox__thumb {
    display: flex;
    height: 30px;
    width: 360px;
    fill: map-get($map: $colors, $key: "title");
    margin-top: 3px;
    gap: 8px;
    margin-bottom: 20px;
  }

  .form__btn {
    display: block;
    color: map-get($map: $colors, $key: "background");
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.96px;
    width: 200px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 4px;
    background: map-get($map: $colors, $key: "link");
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  }
}

@media screen and (min-width: 480px) {
}

@media screen and (min-width: 768px) {
  .modal {
    width: 450px;
    height: 609px;
  }
}

// @media screen and (min-width: 1200px) {
//   .modal {
//     width: 528px;
//     height: 581px;

//     .label__four {
//       width: 448px;
//     }

//     .checkbox__thumb {
//       display: flex;
//       margin-left: 40px;
//     }

//     .checkbox__title {
//       height: 24px;
//       font-size: 14px;
//       letter-spacing: 0.36px;
//     }

//     .checkbox__link {
//       height: 24px;
//       flex-direction: none;
//       font-size: 14px;
//       letter-spacing: 0.42px;
//     }

//     .checkbox__thumb {
//       fill: map-get($map: $colors, $key: "title");
//       margin-top: 3px;
//     }

//     .form__btn {
//       margin-top: 31px;
//       margin-bottom: 40px;
//     }
//   }
// }
