/*works*/

.works {
  &__list {
    flex-wrap: wrap;
  }

  &__item {
    &::before {
      content: "";
      display: block;
      border-radius: 4px;
      background-color: #f5f4fa;
      width: 450px;
      height: 120px;
      margin-top: 30px;
    }

    &:nth-child(1)::before {
      background-image: url(../images/works/antenna.png);
      background-repeat: no-repeat;
      background-position: center;
    }

    &:nth-child(2)::before {
      background-image: url(../images/works/clock.png);
      background-repeat: no-repeat;
      background-position: center;
    }

    &:nth-child(3)::before {
      background-image: url(../images/works/diagram.png);
      background-repeat: no-repeat;
      background-position: center;
    }

    &:nth-child(4)::before {
      background-image: url(../images/works/astronaut.png);
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &__subtitle {
    color: map-get($map: $colors, $key: "title");
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    margin-bottom: 10px;
    margin-top: 30px;
  }

  &__text {
    @extend %text;
    line-height: 24px;
    letter-spacing: 0.42px;
  }
}

@media screen and (min-width: 480px) {
}

@media screen and (min-width: 768px) {
  .works {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 420px;
    width: 768px;

    &__list {
      display: flex;
      flex-wrap: wrap;
      height: 478px;
      width: 768px;
      gap: 30px;
      margin-top: 0;
      margin-bottom: 60px;
    }

    &__item {
      &::before {
        content: "";
        width: 354px;
        height: 120px;
      }

      &:nth-child(1)::before {
        background-image: url(../images/works/antenna.png);
        background-repeat: no-repeat;
        background-position: center;
      }

      &:nth-child(2)::before {
        background-image: url(../images/works/clock.png);
        background-repeat: no-repeat;
        background-position: center;
      }

      &:nth-child(3)::before {
        background-image: url(../images/works/diagram.png);
        background-repeat: no-repeat;
        background-position: center;
      }

      &:nth-child(4)::before {
        background-image: url(../images/works/astronaut.png);
        background-repeat: no-repeat;
        background-position: center;
      }
    }

    &__subtitle {
      text-align: start;
    }

    &__text {
      width: 354px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .works {
    height: 250px;
    width: 752px;
    margin-top: -34px;

    &__list {
      height: 250px;
      flex-wrap: wrap;
      width: 750px;
    }

    &__item {
      &::before {
        content: "";
        width: 270px;
        height: 120px;
      }

      &:nth-child(1)::before {
        background-image: url(../images/works/antenna.png);
        background-repeat: no-repeat;
        background-position: center;
      }

      &:nth-child(2)::before {
        background-image: url(../images/works/clock.png);
        background-repeat: no-repeat;
        background-position: center;
      }

      &:nth-child(3)::before {
        background-image: url(../images/works/diagram.png);
        background-repeat: no-repeat;
        background-position: center;
      }

      &:nth-child(4)::before {
        background-image: url(../images/works/astronaut.png);
        background-repeat: no-repeat;
        background-position: center;
      }
    }

    &__subtitle {
      text-align: start;
    }

    &__text {
      width: 270px;
    }
  }
}
